//mixins
@mixin addFont($fontFamily) {
  @font-face {
    font-family: $fontFamily;
    src: url("./assets/fonts/#{$fontFamily}/#{$fontFamily}.eot");
    src:
          url("./assets/fonts/#{$fontFamily}/#{$fontFamily}.woff") format("woff"),
          url("./assets/fonts/#{$fontFamily}/#{$fontFamily}.otf") format("opentype"),
          url('./assets/fonts/#{$fontFamily}/#{$fontFamily}.ttf')  format('truetype'),
          url("./assets/fonts/#{$fontFamily}/#{$fontFamily}.svg#filename") format("svg");
  }
}

@mixin horizontalMargin($margin) {
  margin-right: $margin;
  margin-left: $margin;
}

//widget themes
$smallTheme: 'small-theme';
$largeTheme: 'large-theme';
