@import '~common-styles/common';

$baseMargin: 25px;

.wrapper {
  position: relative;

  background-image: url("https://s1.ticketm.net/dam/a/5b7/6e74fa87-c37d-4935-b1bb-6f28102f95b7_234851_TABLET_LANDSCAPE_3_2.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 600px;
  width: 300px;
  border-radius: 4px;
  overflow: hidden;
}

.event-countdown-time {
  @include horizontalMargin($baseMargin);
  flex-grow: 4;
}

.event-name {
  @include horizontalMargin($baseMargin);

  margin-top: 2em;
  flex-grow: 2;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-family: "TMSans-Bold", Arial, serif;
  line-height: 31px;
  overflow:hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-wrap:break-word;
  max-height: 180px;
}

.event-venue {
  @include horizontalMargin($baseMargin);

  flex-grow: 1;
  color: #dcdcdc;
  font-family: "TMSans-Light", Arial, serif;
  font-size: 12px;
  margin-top: 11px;
}

.event-date {
  color: white;
  @include horizontalMargin($baseMargin);
  font-family: "TMSans-Bold", Arial, serif;
  margin-top: 20px;
  flex-grow: 0.4;
}

.buy-action-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 36px;
  padding-left: $baseMargin;
}

.legal-notice {
  height: 35px;
  line-height: 35px;
  display: inline;
  align-self: center;
  font-family: "TMSans-Regular", Arial, serif;
  opacity: 0.7;
  text-decoration: none;
  color: white;
  font-size: 11px;

  &:hover, &:focus, &:active {
    color: #019cde
  }
}

.powered-by-text {
  margin: 0 auto;
  flex-grow: 1;
  font-family: "TMSans-Regular", Arial, serif;
  font-size: 11px;
  color: black;
  text-decoration: none;
  text-align: center;

  &:hover, &:active, &:visited {
    color: black;
  }
}

.buy-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 74px;
  height: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #009cde;
  font-size: 10px;

  box-sizing: border-box;

  line-height: 16px;
  color: #ffffff;
  text-align: center;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  font-family: "TMSans-Bold", Arial, serif;
  z-index: 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-decoration: none;

  &:hover {
    background-color: #2A7CC7;
  }
}

.gradient {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: linear-gradient(to bottom, rgba(0,0,0,0) 30%, rgba(0,0,0,0.9) 100%), linear-gradient(to bottom, rgba(0,0,0,0.12) 0%, rgba(0,0,0,0) 15%);
}

.countdown-wrapper {
  @include horizontalMargin($baseMargin);
  margin-top: 48px;
}

.tm-logo {
  height: 16px;
  margin-left: 5px;
}

// Small theme specific styles

:global(.tkm-countdown-small-theme).wrapper {

  width: 300px;
  height: 250px;

  .countdown-wrapper {
    margin-top: 10px;
  }

  .event-name {
    margin-top: 0;
    font-size: 18px;
    min-height: 48px;
    max-height: 48px;
    line-height: 24px;
  }

  .event-date {
    margin-top: 10px;
    font-size: 12px;
  }
}



.large-theme {

}
