$baseMargin: 5px;

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.header {
  flex-grow: 1;
  background-color: rgba(65, 65, 65, 0.5);
  font-family: "TMSans-Bold", Arial, serif;
  font-size: 14px;
  text-align: center;
}

.time-container {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
}

.time {
  &:not(:last-child) {
    margin-right: $baseMargin;
  }

  flex-grow: 1;
  color: #414141;
  background-color: rgba(250, 250, 250, .8);
  font-size: 38px;
  font-family: InterstateWGL-Black, Arial, serif;
}

.time-units-container {
  display: flex;
  flex-basis: 1;
  justify-content: space-between;
}

.time-unit {
  background-color: rgba(65, 65, 65, 0.5);
  flex-grow: 1;

  &:not(:last-child) {
    margin-right: $baseMargin;
  }
}

.time {

}
