$baseMargin: 5px;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.header {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(65, 65, 65, 0.5);
  font-family: "TMSans-Bold", Arial, serif;
  font-size: 14px;
}

.time-container {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24.25%;
  color: #414141;
  background-color: rgba(250, 250, 250, .8);
  font-size: 38px;
  font-family: InterstateWGL-Black, Arial, serif;
}

.time-units-container {
  display: flex;
  justify-content: space-between;
}

.time-unit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(65, 65, 65, 0.5);
  width: 24.25%;
  color: white;

  &:not(:last-child) {
    margin-right: $baseMargin;
  }
}

